{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js"
    integrity="sha512-LwZthDLbb+dritfG9jbFyY1ClYqlkF4I9foqo+783wcl6EPR+kE3uqb0OPsieHt4pFH4HVduwX6rTTDmCaC20g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(252, 236, 217)";

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    td{
    
    }
</style>



<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


<script type="text/javascript">
    $(document).ready(function ($) {
        console.log('print');

        $(document).on('click', '.btn_print', function (event) {
            console.log('print1');
            event.preventDefault();

            //credit : https://ekoopmans.github.io/html2pdf.js

            var element = document.getElementById('whatToPrint');

            //easy
            //html2pdf().from(element).save();

            //custom file name
            //html2pdf().set({filename: 'code_with_mark_'+js.AutoCode()+'.pdf'}).from(element).save();


            //more custom settings
            var opt =
            {
                margin: 1,
                filename: 'estimate_' + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // New Promise-based usage:
            html2pdf().set(opt).from(element).save();


        });



    });
</script>



<div class="row">
    <div class="col-sm-4">
        <div class="row  mx-2">
            <div class="col-md-10"><a class="text-white" style="font-size: 1.3rem;"> All Delivery Challan</a></div>
            <div class="col-md-2 form-inline justify-content-end py-2">
                <a style="color: white; background-color: rgb(210, 132, 30);" class="btn mr-1"
                    href="{% url 'create_delivery_chellan' %}"><i class="fa-solid fa-plus "></i>New</a>
                
            </div>
        </div>
        <div class="pt-3" style="height: 600px; ">
            <table class="text-white" style="width: 100%;">
                {% for estimate in all_estimates %}
                <tr class="clickable-row" data-href="{% url 'delivery_challan_view' estimate.id %}">
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{estimate.customer_name}}</h5>
                            </div>
                            <div class="col-md-6 text-right">&#x20B9;{{estimate.total}}.00</div>
                        </div>
                    </td>
                </tr>
                <tr class="clickable-row" data-href="{% url 'delivery_challan_view' estimate.id %}">
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <p>DC-{{estimate.chellan_no}}</p>
                            </div>
                            <div class="col-md-3 text-left">
                                <p>{{estimate.chellan_date}}</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>{{estimate.status}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td ><hr style="border-top: 1px solid white;"></td>
                </tr>

                {% endfor %}
            </table>
            
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row  mx-2 py-3" style="background-color: rgba(252, 236, 217, 0.8)">
            <div class="col-sm-5 text-dark" style="font-size: 2.5rem;">
                DC-{{estimate.chellan_no }}</div>
            <div class="col-sm-7 text-white text-right my-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'delivery_challan_edit' estimate.id %}"  class="btn btn-success text-white"
                         data-toggle="tooltip" title="Edit">
                        <i class="mdi mdi-pencil"></i></a>
                    <a href="{% url 'render_challan_pdf' estimate.id %}" class="btn btn-danger text-white " 
                        data-toggle="tooltip" title="PDF" id="pdf">
                        <i class="mdi mdi-file-pdf-box"></i></a>
                    <a href="" class="btn btn-success text-white btn_print" 
                        data-toggle="tooltip" title="Print">
                        <i class="mdi mdi-printer"></i></a>
                    <a href="{% url 'emailattachment' %}" class="btn btn-danger text-white"
                         data-toggle="tooltip" title="Email">
                        <i class="mdi mdi-email"></i></a>
                    
                    {% if estimate.attachment != ""%}
                    <a href="{{estimate.attachment.url}}" class="btn btn-success text-white"
                        data-toggle="tooltip" title="Download Attached File">
                        <span class="mdi mdi-download"></span></a>
                    {%endif%}
                    
                </div>
        
                <a href="{% url 'deletechallan' estimate.id %}" class="btn btn-sm text-white" style="background-color:  rgb(86, 86, 85);" 
                onclick="return confirm('Do you want to Delete this Estimate?');"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>

        <div class="mx-2 my-p-5 "
            style="background-color: rgba(252, 236, 217, 0.8); height: 600px; overflow-y: scroll;">
            <div class="slip p-5 convert_to_pdf bg-light" id="whatToPrint"
                style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
               
                

                <div class="row ">
                    <div class="col-sm-6 ">
                        <h4 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h4>
                        <h6 class="text-dark">{{ company.address }}</h6>
                        <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <h1 class="text-dark" style="font-size: 1.2rem; ">Delivery Challan</h1>
                        <h6 class="text-dark">DC-{{estimate.chellan_no }}</h6>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-sm-6 mt-auto">
                        <h6 class="text-dark">Bill To</h6>
                        <h6 class="text-dark">{{ estimate.customer_name }}</h6>
                    </div>
                    <div class="col-sm-6  mt-auto" style="text-align: right;">
                        <h6 class="text-dark ">Date : {{ estimate.chellan_date }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table mt-2" style="border-color: black; color: black;">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th class="text-center text-dark">#</th>
                                    <th class="text-center text-dark">Item</th>
                                    <th class="text-center text-dark">Quantity</th>
                                    <th class="text-center text-dark">Rate</th>
                                    <th class="text-center text-dark">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td  class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ item.item_name }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td class="text-center">{{ item.rate|floatformat:3 }}</td>
                                    <td class="text-center">{{ item.amount|floatformat:3 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                
                <div class="row" >
                    <div class="col-sm-6" style="padding-left: 55%; ">
                        <table class="table" style="color: black">
                            <tr>
        
                                <td class="text-right">Sub-Total:</td>
                                <td class="text-right">{{ estimate.sub_total|floatformat:3}}</td>
                            </tr>
                            {% if estimate.cgst != 0 %}
                            <tr>
                                <td class="text-right">CGST:</td>
                                <td class="text-right">{{ estimate.cgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.sgst != 0 %}
                            <tr>
                                <td class="text-right">SGST:</td>
                                <td class="text-right">{{ estimate.sgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.igst != 0 %}
                            <tr>
        
                                <td class="text-right">IGST:</td>
                                <td class="text-right">{{ estimate.igst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.shipping_charge != 0 %}
                            <tr>
        
                                <td class="text-right">Shipping Charge:</td>
                                <td class="text-right">{{ estimate.shipping_charge|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.adjustment != 0 %}
                            <tr>
        
                                <td class="text-right">Adjustment:</td>
                                <td class="text-right">{{ estimate.adjustment|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            <tr>
        
                                <td class="text-right">Total:</td>
                                <td class="text-right">{{ estimate.total|floatformat:3}}</td>
                            </tr>
        
                        </table>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>


            </div>
         
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script>
    // Add click event listener to all rows with class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the URL from the "data-href" attribute
            const url = row.getAttribute('data-href');
            // Navigate to the URL
            window.location.href = url;
        });
    });
</script>

<script>

    function print() {
        var content = document.getElementById("whatToPrint");
        var printWindow = window.open('', 'PrintWindow');
        printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + content + '</body></html>');
        printWindow.print();
        printWindow.close();


    }
</script>
<script>
    function openFilePicker() {
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = '.pdf'; // set the file type filter to only allow PDF files
        input.addEventListener('change', () => {
            const file = input.files[0];
            // send the selected file to the server via AJAX
            const formData = new FormData();
            formData.append('file', file);
            $.ajax({
                url: '/send_email/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('File uploaded successfully');
                },
                error: function (xhr, status, error) {
                    alert('Error uploading file: ' + error);
                }
            });
        });
        input.click();
    }
</script>



{% endblock %}